<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Class Scheduler - <%- title %>">
    <meta name="author" content="Nicholas Boss">
    <meta property="og:title" content="<%- title %> | Class Scheduler">
    <meta property="og:description" content="Class Scheduler - <%- title %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/site/byui_class_scheduler_logo.png">
    <meta property="og:url" content="https://class-scheduler.org/<%- link %>">
    <meta name="google-site-verification" content="RnCqOt_M1pJualvzvv0r2sTZRTK1n4aLMZqD6L2FLEQ" />
    <title><%- title %> | Class Scheduler</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/larger.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>